{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Performance Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <h1>Sales Performance Dashboard</h1>
        <button id="selectEmployeeBtn" class="button">Sales Performance of Individual</button>

    <!-- Employee Dropdown -->
    <!-- Employee Dropdown -->
<select id="employeeDropdown" style="display:none;">
    <option value="">Select Employee</option>
    {% for employee in employees %}
        <option value="{{ employee.employee_name }}">{{ employee.employee_name }}</option>
    {% endfor %}
</select>

<!-- Date Dropdown -->
<select id="dateDropdown" style="display:none;">
    <option value="">Select Date</option>
</select>

<!-- Button to fetch performance data -->
<button id="fetchPerformanceBtn" class="button" style="display:none;">Fetch Performance Data</button>
<div class="spinner" id="loadingSpinner" style="display:none;"></div>

<!-- Performance Table -->
<div id="performanceTable" style="display:none;">
    <h3>Sales Performance for <span id="repName"></span></h3>
    
    <!-- Main Performance Table -->
    <table id="individualPerformanceTable">
        <thead>
            <tr>
                <th>Total Leads Taken</th>
                <th>Total Tours Booked</th>
                <th>Total Applications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="individualTotalLeads"></td>
                <td id="individualTotalTours"></td>
                <td id="individualTotalApplications"></td>
            </tr>
        </tbody>
    </table>

    <!-- Text Messages Sent Table -->
    <h4>Text Messages Sent</h4>
    <table>
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="individualMonText"></td>
                <td id="individualTueText"></td>
                <td id="individualWedText"></td>
                <td id="individualThuText"></td>
                <td id="individualFriText"></td>
                <td id="individualSatText"></td>
                <td id="individualSunText"></td>
            </tr>
        </tbody>
    </table>

    <!-- Calls Made Table -->
    <h4>Calls Made</h4>
    <table>
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="individualMonCall"></td>
                <td id="individualTueCall"></td>
                <td id="individualWedCall"></td>
                <td id="individualThuCall"></td>
                <td id="individualFriCall"></td>
                <td id="individualSatCall"></td>
                <td id="individualSunCall"></td>
            </tr>
        </tbody>
    </table>
</div>

   
<br>
<button id="getMonthlyTrendsBtn" class="button">Monthly Performance Trends</button>
<p id="errorMessage">Select Date Range From 26/7/2022 to 10/05/2023 </p>
<!-- Date Picker for Date Range -->
<div id="datePickerContainer">
    <label for="fromDate">From: </label>
    <input type="date" id="fromDate">
    <label for="toDate">To: </label>
    <input type="date" id="toDate">
    <button id="fetchPerformanceTrendsBtn" class="button">Fetch Performance Data</button>
    <p id="errorMessage">Please select dates within the valid range.</p>
</div>

<!-- Table to display monthly performance trends -->
<div id="monthlyTrendsTable" style="display:none;">
    <h3>Monthly Performance Trends</h3>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Leads Taken</th>
                <th>Tours Booked</th>
                <th>Applications</th>
            </tr>
        </thead>
        <tbody id="monthlyTrendsBody">
            <!-- Dynamic rows will be inserted here -->
        </tbody>
    </table>
</div>
<br>
    <button id="getTeamPerformanceBtn" class="button">Get Team Performance</button>
    <select id="teamDropdown" class="dropdown" style="display:none;">
        <option value="">Select Team</option>
        {% for employee in employees %}
            <option value="{{ employee.employee_name }}">{{ employee.employee_name }}</option>
        {% endfor %}
    </select>

    <div id="teamPerformanceTable" class="data-table" style="display:none;">
        <h3>Team Performance</h3>
        <table>
            <thead>
                <tr>
                    <th>Total Leads Taken</th>
                    <th>Total Tours Booked</th>
                    <th>Total Applications</th>
                    <th>Tours per Lead</th>
                    <th>Apps per Tour</th>
                    <th>Apps per Lead</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="teamTotalLeads"></td>
                    <td id="teamTotalTours"></td>
                    <td id="teamTotalApplications"></td>
                    <td id="teamToursPerLead"></td>
                    <td id="teamAppsPerTour"></td>
                    <td id="teamAppsPerLead"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="teamMonText"></td>
                    <td id="teamTueText"></td>
                    <td id="teamWedText"></td>
                    <td id="teamThuText"></td>
                    <td id="teamFriText"></td>
                    <td id="teamSatText"></td>
                    <td id="teamSunText"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="teamMonCall"></td>
                    <td id="teamTueCall"></td>
                    <td id="teamWedCall"></td>
                    <td id="teamThuCall"></td>
                    <td id="teamFriCall"></td>
                    <td id="teamSatCall"></td>
                    <td id="teamSunCall"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
   
    
 
    
</body>
</html>
